/*font-family: 'Bungee', cursive;
font-family: 'Gruppo', cursive;
font-family: 'Monoton', cursive;*/

:root {
    --primary: black;
    --secondary: #ccf381;
    --tertiary: #4831d4;
    --darkish: #404040;
  } 

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  body {
    min-height: 100vh;
    color: black;
    background-color: white;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
  }

  header {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  /* navigation bar START */
  .side-nav {
    height: 100%;
    width: 5%;
    font-size: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--tertiary);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .side-nav a {
    color: aliceblue;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
  }
  /* navigation bar END */


  /* image column START */
  .img-column {
    margin-top: auto;
    margin-left: 150px;
  }
  /* image column END */


  /* title column START */
  .info-column {
    padding-left: 50px;
    padding-bottom: 150px;
  }

  .intro {
    font-size: 38px;
    font-family: 'Monoton', cursive;
    text-align: left;
    line-height: 70px;
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .color {
    color: var(--tertiary);
  }

  .pop-name {
    font-size: 60px;
    padding-left: 175px;
    font-family: 'Bungee', cursive;
  }

  div p {
    text-align: left;
  }

  .intro-font {
    font-size: 35px;
  }

  .pop-font {
    font-size: 45px;
  }
  /* title column END */


  /* social icon styling START */
.wrapper a {
  color: var(--darkish);
}

  .wrapper {
    display: inline-flex;
    padding-top: 15px;
    padding-right: 80px;
  }

  .wrapper .icon {
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }

  .wrapper .icon span {
    position: relative;
    z-index: 2;
    height: 60px;
    width: 60px;
    display: block;
    background: var(--secondary);
    border-radius: 50%;
    text-align: center;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .icon span i {
    font-size: 30px;
    line-height: 60px;
  }

  .wrapper .icon .tooltip {
    position: absolute;
    bottom: 0px;
    background: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .icon:hover .tooltip {
    opacity:1;
    pointer-events: auto;
    bottom:-70px;
  }

  .wrapper .icon .tooltip:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    top: -8px;
    right: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  .wrapper .icon:hover span{
    color: #fff;
  }

  .wrapper .portfolio:hover span,
  .wrapper .portfolio:hover .tooltip,
  .wrapper .portfolio:hover .tooltip:before {
    background:var(--tertiary);
  }

  .wrapper .github:hover span,
  .wrapper .github:hover .tooltip,
  .wrapper .github:hover .tooltip:before {
    background:var(--tertiary);
  }

  .wrapper .linkedin:hover span,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip:before {
    background:var(--tertiary);
  }

  .wrapper .email:hover span,
  .wrapper .email:hover .tooltip,
  .wrapper .email:hover .tooltip:before {
    background:var(--tertiary);
  }
  /* social icon styling END */

  /* 980 768 575 375 */

  @media screen and (max-width: 1580px) {

    .intro {
      padding-left: 0;
      padding-right: 100px
    }

    div p {
      margin-right: 20px;
    }
  }