/* font-family: 'Gruppo', cursive; */
/* font-family: 'Monoton', cursive; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */
:root {
  --primary: black;
  --secondary: #ccf381;
  --tertiary: #4831d4;
  --darkish: #404040;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: black;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

/* Top Navigation START */
.logo1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.logo2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

button i {
  color: white;
  font-size: 2rem;
}

#header-nav {
  background-color: var(--tertiary);
  color: white;
  font-size: 1.8rem;
}
 
.about, 
.contact,
.portfolio,
.resume {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}

.about:hover,
.contact:hover,
.portfolio:hover,
.resume:hover {
  color: var(--secondary);
}

.mobile-nav {
  width: 100%;
}

.mobile-nav a {
  font-size: 1.4rem;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Top Navigation END */


/* VARIABLE BODY CONTENT START */
/* About Me START */
.intro {
  font-size: 2.5rem;
  text-align: left;
  line-height: 70px;
  padding-left: 30px;
  font-weight: 600;
}

.pop-name {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--tertiary);
  padding-left: 20px;
}

.pop-title {
  color: var(--tertiary);
  font-size: 2.2rem;
  font-weight: 600;
}

.intro-body {
  font-size: 1.8rem;
  font-weight: 400;
}
/* About Me END */

/* Portfolio START */
h5 {
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  color: var(--darkish);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.img-box:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.overlay-text {
  position: absolute;
  left: 20px;
  bottom: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.img-box:hover .overlay-text {
  opacity: 1;
}
/* Portfolio END */
/* VARIABLE BODY CONTENT END */

/* social icon FOOTER styling START */
.footer {
  background-color: #f1f1f1;
  height: 65px;
  flex-shrink: 0;
}

.wrapper a {
color: var(--darkish);
}

.wrapper .icon {
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.wrapper .icon span {
  position: relative;
  z-index: 2;
  height: 50px;
  width: 50px;
  display: block;
  background: var(--secondary);
  border-radius: 50%;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon span i {
  font-size: 2rem;
  line-height: 50px;
}

.wrapper .icon .tooltip {
  position: absolute;
  bottom: 0px;
  background: #fff;
  font-size: 1.5rem;
  padding: 6px 13px;
  border-radius: 25px;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  opacity:1;
  pointer-events: auto;
  bottom:60px;
}

.wrapper .portfolio .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  top: 40px;
  right: 55%;
  transform: translateX(-50%) rotate(45deg);
}

.wrapper .github .tooltip:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  top: 40px;
  right: 37%;
  transform: translateX(-50%) rotate(45deg);
}

.wrapper .linkedin .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  top: 40px;
  right: 23%;
  transform: translateX(-50%) rotate(45deg);
}

.wrapper .icon:hover span{
  color: #fff;
}

.wrapper .portfolio:hover span,
.wrapper .portfolio:hover .tooltip,
.wrapper .portfolio:hover .tooltip:before {
  background:var(--tertiary);
}

.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
  background:var(--tertiary);
}

.wrapper .linkedin:hover span,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip:before {
  background:var(--tertiary);
}
/* social icon FOOTER styling END */



