:root {
    --primary: black;
    --secondary: #ccf381;
    --tertiary: #4831d4;
    --darkish: #404040;
  }  

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  body {
    min-height: 100vh;
    color: black;
    background-color: white;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
  }

/* navigation bar START */
.side-nav {
    height: 100%;
    width: 5%;
    font-size: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--tertiary);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .side-nav a {
    color: aliceblue;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
  }
  /* navigation bar END */


  /* content START */
  h1 {
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
  }