/* font-family: 'Bungee', cursive;
font-family: 'Gruppo', cursive;
font-family: 'Montserrat', sans-serif; */

:root {
  --primary: black;
  --secondary: #ccf381;
  --tertiary: #4831d4;
  --darkish: #404040;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: black;
  background-color: white;
  font-family: 'Gruppo', cursive;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* navigation bar START */
.side-nav {
  height: 100%;
  width: 5%;
  font-size: 30px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--tertiary);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.side-nav a {
  color: aliceblue;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}
/* navigation bar END */

header {
  font-family: 'Bungee', cursive;
  margin-left: 125px;
  text-align: left;
  font-size: 36px;
  padding-bottom: 30px;
}

.pop-font {
  font-family: 'Gruppo', cursive;
}

.section-font {
  margin-left: 150px;
  margin-bottom: 40px;
  margin-right: 80px;
  padding-right: 20px;
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: right;
  border-top: #4831d4 solid 2px;
}

.back {
  margin-top: 60px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  row-gap: 20px;
  column-gap: 20px;
  margin-left: 175px;
  margin-bottom: 15px;
  font-size: 24px;
}

img {
  width: 500px;
  height: auto;
}

.languages {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}