/*font-family: 'Bungee', cursive;
font-family: 'Gruppo', cursive;
font-family: 'Monoton', cursive;*/

:root {
    --primary: black;
    --secondary: #ccf381;
    --tertiary: #4831d4;
  } 

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  body {
      color: black;
      background-color: white;
      font-family: 'Gruppo', cursive;
      font-weight: bold;
  }

  header {
    padding-top: 30px;
    font-size: 30px;
  }

  .intro {
    font-size: 46px;
    font-family: 'Bungee', cursive;
  }

  button {
      padding-left: 5px;
      padding-right: 5px;
  }


